@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
:root {
  font-family: "Roboto", sans-serif;
}
:root {
  padding-left: auto;
}
:root {
  padding-bottom: auto;
}
:root {
  padding-right: auto;
}
[class~="side"]::before {
  content: "";
}
:root {
  padding-top: auto;
}
:root,
[class~="cube"] {
  margin-left: auto;
}
[class~="cube"],
:root {
  margin-bottom: auto;
}
:root,
[class~="cube"] {
  margin-right: auto;
}
[class~="cube"],
:root {
  margin-top: auto;
}
:root {
  background-color: #121317;
}
:root {
  overflow: hidden;
}
:root {
  --primary-color: #ff4848;
}
:root {
  --main-bg-color: #121317;
}
[class~="content"] {
  display: none;
}
[class~="side"]:nth-child(1) {
  transform: rotateY(90deg);
}
[class~="side"]::before,
[class~="loader"] {
  position: absolute;
}
[class~="loader"] {
  left: 50%;
}
.side:nth-child(2) {
  transform: rotateY(180deg);
}
[class~="loader"] {
  top: 50%;
}
[class~="loader"] {
  -webkit-transform: translate(-50%, -50%);
}
[class~="loader"] {
  transform: translate(-50%, -50%);
}
[class~="side"]:nth-child(3) {
  transform: rotateY(270deg);
}
.side,
[class~="side"]::before {
  top: 0;
}
.side:nth-child(4) {
  transform: rotateY(360deg);
}
[class~="cube"] {
  font-size: 1.5pc;
}
.side,
[class~="side"]::before {
  bottom: 0;
}
.side,
[class~="side"]::before {
  left: 0;
}
[class~="cube"] {
  height: 1em;
}
[class~="side"]::before,
.side {
  right: 0;
}
[class~="cube"] {
  width: 1em;
}
[class~="cube"] {
  position: relative;
}
[class~="cube"] {
  transform: rotateX(30deg) rotateY(45deg);
}
[class~="cube"],
.side {
  transform-style: preserve-3d;
}
[class~="cube"] {
  animation: cube-spin 1.5s infinite ease-in-out alternate;
}
[class~="side"]:nth-child(5) {
  transform: rotateX(90deg);
}
.side {
  position: absolute;
}
[class~="side"]::before {
  background-color: currentColor;
}
[class~="side"]:nth-child(6) {
  transform: rotateX(270deg);
}
[class~="side"]::before {
  transform: translateZ(0.5em);
}
.side {
  color: var(--primary-color);
}
[class~="side"]::before {
  animation: cube-explode 1.5s infinite ease-in-out;
}
[class~="side"]::before {
  opacity: 0.5;
}
@keyframes cube-spin {
  0% {
    transform: rotateX(30deg) rotateY(45deg);
  }
  100% {
    transform: rotateX(30deg) rotateY(405deg);
  }
}
@keyframes cube-explode {
  0% {
    transform: translateZ(0.5em);
  }
  50% {
    transform: translateZ(0.75em);
  }
  100% {
    transform: translateZ(0.5em);
  }
}
.content {
  position: absolute;
}
.content {
  left: 50%;
}
.content {
  top: 50%;
}
.content {
  -webkit-transform: translate(-50%, -50%);
}
.content {
  transform: translate(-50%, -50%);
}
[class~="title"] {
  font-family: "Anonymous Pro", monospace;
}
[class~="title"] {
  padding-left: auto;
}
[class~="btn"]:hover,
[class~="title"]:hover {
  transform: scale(1.1);
}
[class~="title"] {
  padding-bottom: auto;
}
[class~="title"] {
  padding-right: auto;
}
[class~="btn"],
[class~="btn"]:hover {
  border-left-color: var(--primary-color);
}
[class~="title"] {
  padding-top: auto;
}
[class~="title"] {
  margin-left: 0.9375pc;
}
[class~="title"] {
  margin-bottom: 0.9375pc;
}
[class~="title"] {
  margin-right: 0.9375pc;
}
[class~="title"] {
  margin-top: 0.9375pc;
}
[class~="btn"]:hover,
[class~="btn"] {
  border-bottom-color: var(--primary-color);
}
[class~="btn-container"],
[class~="btn"],
[class~="subtitle"],
[class~="title"] {
  text-align: center;
}
[class~="title"] {
  color: #fff;
}
[class~="title"] {
  font-size: 0.729166667in;
}
[class~="btn"],
[class~="title"] {
  transition: transform 0.2s;
}
[class~="title-split"] {
  color: var(--primary-color);
}
[class~="btn"],
[class~="btn"]:hover {
  border-right-color: var(--primary-color);
}
[class~="btn"] {
  max-width: 200px;
}
[class~="btn"] {
  height: 0in;
}
[class~="btn"] {
  border-left-width: 0.020833333in;
}
[class~="btn"] {
  border-bottom-width: 0.020833333in;
}
[class~="btn"] {
  border-right-width: 0.020833333in;
}
[class~="btn"] {
  border-top-width: 0.020833333in;
}
[class~="btn"] {
  border-left-style: solid;
}
[class~="btn"] {
  border-bottom-style: solid;
}
[class~="btn"]:hover,
[class~="btn"] {
  border-top-color: var(--primary-color);
}
[class~="btn"] {
  border-right-style: solid;
}
[class~="btn"] {
  border-top-style: solid;
}
[class~="btn"]:hover {
  color: var(--main-bg-color);
}
[class~="btn"]:hover {
  background-color: var(--primary-color);
}
[class~="btn"] {
  border-image: none;
}
[class~="btn"] {
  background-color: var(--main-bg-color);
}
[class~="btn"] {
  color: black;
}
[class~="btn"]:hover {
  font-weight: bolder;
}
[class~="btn"] {
  color: var(--primary-color);
}
[class~="btn"] {
  padding-left: 1.25pc;
}
[class~="btn"] {
  padding-bottom: 1.25pc;
}
[class~="btn"] {
  padding-right: 1.25pc;
}
[class~="btn"] {
  padding-top: 1.25pc;
}
[class~="btn"] {
  font-size: 15pt;
}
[class~="btn"] {
  cursor: pointer;
}
[class~="btn"] {
  border-radius: 5px;
}
[class~="btn"] {
  font-family: "Oswald", sans-serif;
}
[class~="btn"] {
  line-height: 0pt;
}
[class~="btn"] {
  margin-left: 2.5pc;
}
[class~="btn"] {
  margin-bottom: 2.5pc;
}
[class~="btn"] {
  margin-right: 2.5pc;
}
[class~="btn"] {
  margin-top: 2.5pc;
}
[class~="subtitle"] {
  font-family: "Anonymous Pro", monospace;
}
[class~="subtitle"] {
  padding-left: auto;
}
[class~="subtitle"] {
  padding-bottom: auto;
}
[class~="subtitle"] {
  padding-right: auto;
}
[class~="subtitle"] {
  padding-top: auto;
}
[class~="subtitle"] {
  margin-left: 0.9375pc;
}
[class~="subtitle"] {
  margin-bottom: 0.9375pc;
}
[class~="subtitle"] {
  margin-right: 0.9375pc;
}
[class~="subtitle"] {
  margin-top: 0.9375pc;
}
[class~="subtitle"] {
  color: #929292;
}
[class~="subtitle"] {
  font-size: 20px;
}
[class~="auto-type"],
[class~="subtitle"] {
  transition: transform 0.2s;
}
[class~="auto-type"] {
  text-transform: uppercase;
}
[class~="auto-type"] {
  color: #b7b7b7;
}
[class~="auto-type"] {
  font-weight: 1;
}

.btn {
  margin-top: 2.5pc;
  margin-right: 2.5pc;
  margin-bottom: 2.5pc;
  margin-left: 2.5pc;
  line-height: 0pt;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15pt;
  padding-top: 1.25pc;
  padding-right: 1.25pc;
  padding-bottom: 1.25pc;
  padding-left: 1.25pc;
  color: var(--primary-color);
  background-color: var(--main-bg-color);
  border-image: none;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: var(--primary-color);
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0.020833333in;
  border-right-width: 0.020833333in;
  border-bottom-width: 0.020833333in;
  border-left-width: 0.020833333in;
  height: 0in;
  max-width: 200px;
  border-right-color: var(--primary-color);
  transition: transform 0.2s;
  text-align: center;
  border-bottom-color: var(--primary-color);
  border-left-color: var(--primary-color);
}

.projects-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  box-sizing: border-box;
  align-items: center;
}

.project {
  width: 400px;
  height: 200px;
  border-style: solid;
  border-radius: 25px;
  border-color: var(--primary-color);
  border-width: 2px;
  margin: 10px;
}

.project-title {
  font-size: 35px;
  margin-left: 20px;
  font-weight: 100;
}

.project-description {
  font-size: 20px;
  margin-left: 20px;
  color: rgb(121, 121, 121);
}

.sp {
  border-color: #e3a675;
  color: #e3a675;
  font-family: "Anonymous Pro", monospace;
}

.sp-btn {
  margin-top: 0.2pc;
  margin-right: 2.5pc;
  margin-bottom: 10px;
  margin-left: 1.1pc;
  line-height: 0pt;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15pt;
  padding: 20px;
  color: #e3a675;
  background-color: var(--main-bg-color);
  border-image: none;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: #e3a675;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0.020833333in;
  border-right-width: 0.020833333in;
  border-bottom-width: 0.020833333in;
  border-left-width: 0.020833333in;
  height: 0in;
  max-width: 200px;
  border-right-color: #e3a675;
  transition: transform 0.2s;
  text-align: center;
  border-bottom-color: #e3a675;
  border-left-color: #e3a675;
  justify-content: flex-end;
  display: flex;
  position: absolute;
}

.sp-btn:hover {
  transform: scale(1.1);
  color: var(--main-bg-color);
  background-color: #e3a675;
}

.rblx {
  border-color: rgb(179, 179, 179);
  color: rgb(179, 179, 179);
  font-family: "Anonymous Pro", monospace;
}

.rblx-btn {
  margin-top: 0.2pc;
  margin-right: 2.5pc;
  margin-bottom: 10px;
  margin-left: 1.1pc;
  line-height: 0pt;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15pt;
  padding: 20px;
  color: rgb(179, 179, 179);
  background-color: var(--main-bg-color);
  border-image: none;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: rgb(179, 179, 179);
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0.020833333in;
  border-right-width: 0.020833333in;
  border-bottom-width: 0.020833333in;
  border-left-width: 0.020833333in;
  height: 0in;
  max-width: 200px;
  border-right-color: rgb(179, 179, 179);
  transition: transform 0.2s;
  text-align: center;
  border-bottom-color: rgb(179, 179, 179);
  border-left-color: rgb(179, 179, 179);
  justify-content: flex-end;
  display: flex;
  position: absolute;
}

.rblx-btn:hover {
  transform: scale(1.1);
  color: var(--main-bg-color);
  background-color: rgb(179, 179, 179);
}

.itch {
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-family: "Anonymous Pro", monospace;
}

.itch-btn {
  margin-top: 0.2pc;
  margin-right: 2.5pc;
  margin-bottom: 10px;
  margin-left: 1.1pc;
  line-height: 0pt;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15pt;
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--main-bg-color);
  border-image: none;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: var(--primary-color);
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0.020833333in;
  border-right-width: 0.020833333in;
  border-bottom-width: 0.020833333in;
  border-left-width: 0.020833333in;
  height: 0in;
  max-width: 200px;
  border-right-color: var(--primary-color);
  transition: transform 0.2s;
  text-align: center;
  border-bottom-color: var(--primary-color);
  border-left-color: var(--primary-color);
  justify-content: flex-end;
  display: flex;
  position: absolute;
}

.itch-btn:hover {
  transform: scale(1.1);
  color: var(--main-bg-color);
  background-color: var(--primary-color);
}

.gfx {
  border-color: rgb(92, 163, 255);
  color: rgb(92, 163, 255);
  font-family: "Anonymous Pro", monospace;
}

.gfx-btn {
  margin-top: 0.2pc;
  margin-right: 2.5pc;
  margin-bottom: 10px;
  margin-left: 1.1pc;
  line-height: 0pt;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15pt;
  padding: 20px;
  color: rgb(92, 163, 255);
  background-color: var(--main-bg-color);
  border-image: none;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: rgb(92, 163, 255);
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0.020833333in;
  border-right-width: 0.020833333in;
  border-bottom-width: 0.020833333in;
  border-left-width: 0.020833333in;
  height: 0in;
  max-width: 200px;
  border-right-color: rgb(92, 163, 255);
  transition: transform 0.2s;
  text-align: center;
  border-bottom-color: rgb(92, 163, 255);
  border-left-color: rgb(92, 163, 255);
  justify-content: flex-end;
  display: flex;
  position: absolute;
}

.gfx-btn:hover {
  transform: scale(1.1);
  color: var(--main-bg-color);
  background-color: rgb(92, 163, 255);
}
